@charset "utf-8";

#mask {
	background:#678 url(../images/mask_gradient_1000.png) no-repeat;
	background-position:center;
}


body {
	font: 100% Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	background: #000000;	
}

.kolom {
	margin-top:130px;
}

.kolom #container {
	width: 520px;
	background: #000000;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
	color:#FFFFFF;
}

.kolom #header {
	background: #000000; 
	padding: 0 10px 0 20px;
	text-align:left;
}

.kolom #header h1 {
	margin: 0;
	padding: 10px 0;
	color:#FFFFFF;
}

.kolom #mainContent {
	padding: 0 20px;
	text-align:center;
}

.kolom #footer {
	padding: 0 10px;
	background:#000000;
	text-align:left;
}

.kolom #footer p {
	margin: 0;
	padding: 10px 0;
	color:#FFFFFF;
	text-align:center;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}