html{
 
    background-color: #6e6e6e;
 
}
 
body {
 
    width: 500px;
    height: 300px;
    margin: 150px auto;
    padding-top: 75px;
    background: url(images/login-form.png) no-repeat left top;
 
}
 
#wrapper{
 
    padding: 10px 70px 0 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d5fac;
 
}
 
#wrapper h2{
 
    font-size: 18px;
 
}
 
.form-login{
 
    padding: 2px 3px;
    width: 200px;
    border: 1px solid #0d5fac;
    border-spacing: 1px;
    font-size: 16px;
    color: #0d5fac;
 
}
 
.btn-login{
 
    width: 89px;
    height: 36px;
    cursor: pointer;
    border: none;
    background: url(images/login-button.png)no-repeat left top;
 
}